* {
    box-sizing: border-box;
}



#contenedor {
    width: 900px;
    height: auto;
    background-color: rgb(123, 192, 201);
    border: 5px solid black;
}


#cabecera {
    height: auto;
    background-color: #37ad88;
    margin: 0.5em;
    border-radius: 10em;
}

#seccion {
    width: 50%;
    height: auto;
    background-color: #fdfdfd;
    border-radius: 10em;
}

button{
    background-color: aqua;
    border-radius: 1em;
    width: 500px;
    height: 100px;
    font-size: 30px;
}